@import "tailwindcss";

@theme {
  --font-graduate: "Graduate", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}